#title{
  background-color: #FFCAD4;
}
h1{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: left;
}
.Container-fluid{
  padding: 3% 15%;
}
body{
  font-family: ubuntu-Bold;
}
h3{
  font-weight: bold;
  text-align: center;
}
p{
  text-align: center;
  font-family: Ubuntu-Bold;
  color:#1D24CA;
}
#features{
  padding: 7% 15%;
  text-align: center;
}

.navbar-brand{
  font-size: 3rem;
  font-weight: bold;
  color: #5E1675;
}
.nav-link{
  font-size: 1.5rem;
  font-weight: bold;
  color: #EE4266;
}
.navbar{
  padding-bottom: 4rem;
}
.button-inline{
  padding: 2% 2% 2% 0%;
  margin-left: 2%;
  margin-top: 5%;

}
.tittle-image{
  width: 100%;
  transform: rotate(25deg);
}
.icon{
  color: #265073;
}
.icon:hover{
  color: #FF9843;
}
.press-logo{
  width: 16%;
  margin: 20px 20px 50px;
}

#testimonials{
  background-color: #FFE6E6;
  text-align: center;
  padding: 3% 15%;
  color: #6420AA;

}
#press{
  background-color: #FFE6E6;
  text-align: center;

}
.test{
  border-radius: 50%;
  text-align: center;
  padding-bottom: 5%;
}

#pricing{
text-align: center;
padding: 75px;
margin-right: 5%;
margin-top: 1%;
}

.col{
  padding: 2%;
  font-family: ubuntu-Light;
}

#cta{
  text-align: center;
  background-color: #FFCAD4;
}